# Hidden files
**/.*

# lib / build folders folder
**/node_modules
**/bin
**/gopath

# UI build folder ignore
ui/build/*

# deploy build files
deploy/firebase/functions
deploy/firebase/public

# Whitelist anchor files


# Whitelist .gitignore
!.gitignore
!**/.anchor