.head {
  width: 15vw;
  height: 15vw;
  top: 10vw;
  left: 42vw;
  border-radius: 50%;
  background-color: #FBD671;
  position: relative;
}

.ear {
  width:5vw;
  height:5vw;
  background-color: #FBD671;
  position:absolute;
}

.ear-left{
  left: 10%;
  transform: rotate(290deg);
  border-top-left-radius: 40px;
 }

.ear-right{
  right:10%;
  transform: rotate(70deg);
  border-top-right-radius: 40px;
}

.ear-edge-left{
  width:2vw;
  height:2vw;
  background-color: #FBD671;
  left: 10%;
  transform: rotate(290deg);
  border-top-left-radius: 40px;
}

.ear-edge-right{
  width:2vw;
  height:2vw;
  background-color: #FBD671;
  right:10%;
  transform: rotate(70deg);
  border-top-right-radius: 40px;
}

.face {
  width: 7vw;
  height: 8vw;
  left: 4vw;
  top: 6vw;
  position: absolute;
}

.mouth {
  width: 100%;
  height: 3vw;
  bottom: 0;
  left: 0;
  background-color: #20184E;
  border-radius: 10px 10px 150px 150px;
  border: 5px solid #20184E;
  position: absolute;
}

.eye-group {
  width: 8vw;
  height: 3vw;
  top: 0.5vw;
  left: 0;
  position: absolute;
}

.eye {
  background-color: #20184E;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}

.eye-left {
  left: 0vw;
  position: absolute;
}

.eye-right {
  right: 0vw;
  position: absolute;
}
